node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
server/config.js
server/db/graphql/resolvers/users.js
server/mongooseConfig.js
package-lock.json
